{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>lab_3</title>
    <link rel="stylesheet" href="{% static '/labWeb/css/Find_doc/Style_doc.css' %}">

</head>
<body>

    <nav>
       <article>
        <div class="burger__div">

            <input type="checkbox" id="menu-toggle" class="menu-toggle">
            <label for="menu-toggle" class="menu-icon">&#9776;</label>

        <div class="menu__box">
            <ul>
                <li><a class="button" href=" ">Home</a></li>
                <li><a class="button" href="find/">Find a doctor</a></li>
                <li><a class="button" href="">Apps</a></li>
                <li><a class="button" href="">Testimonials</a></li>
                <li><a class="button" href="">About us</a></li>
            </ul>

            <label for="menu-toggle" class="close-menu-button">✕</label>
        </div>
        </div>

        <div class="standart__screen">
            <ul >
                <li><a class="button" href="/">Home</a></li>
                <li><a class="button" href="/find">Find a doctor</a></li>
                <li><a class="button" href="">Apps</a></li>
                <li><a class="button" href="">Testimonials</a></li>
                <li><a class="button" href="">About us</a></li>
            </ul>
        </div>

       </article>
        <aside>
            <h3 class="icon">T</h3>
            <h3 class="text">Trafalgar</h3>
        </aside>
    </nav>

    <header>
        <div class="search">
            <input type="search" name="search" id="search">
            <button class="button" type="submit" id="search_butt">Search</button>
            <button class="button" type="submit" id="create_butt">Create</button>
        </div>

        <div class="under__block">
            <article>
                <div class="sort">
                    <p>Sort all planes to Fuel</p>
                    <button id="sort_butt" class="button"> Sort</button>
                </div>

                <div class="fuel">
                    <p class="text_fuel">Amm... You need </p>
                    <button type="submit" class="button" id="Fuel">FUEL !!!</button>
                    <ul class="Container">
                        <li><p>Fuel in all figter: </p><br>
                            <p id="Fuel__text"></p>
                        </li>
                    </ul>
                </div>
            </article>
            <aside id = 'inSite'>
                <div class="list__object" id="list__object">
                    <div class="object">
                        <div class="object__img">
                            <img src={% static "labWeb/images/planes.jpg" %} alt="Nemam">
                        </div>
                        <div class="object__text">
                            <h3>B-21</h3>
                            <p>Mega cool planes<br>
                                can fly and more any<br>
                                can fall<br>
                                From Ukrainian Factory "Danger pricoli)"<br>
                            </p>
                            <p>1600</p>
                            <input class="inp" type="text" style="display: none" value="1600">
                        </div>
                        <div class="object__button">
                            <button class="button bgr">Edit</button>
                            <button class="button">Remove</button>
                        </div>

                    </div>

                    {#                        Sec-2#}
                    <div class="object">
                        <div class="object__img">
                            <img src={% static "labWeb/images/planes.jpg" %} alt="Nemam">
                        </div>
                        <div class="object__text">
                            <h3>B-22</h3>
                            <p>Mega cool planes<br>
                                can fly and more any<br>
                                can fall<br>
                                From Ukrainian Factory "Danger pricoli)"<br>
                            </p>
                            <p>5200</p>
                            <input class="inp" type="text" style="display: none" value="5200">
                        </div>
                        <div class="object__button">
                            <button class="button bgr">Edit</button>
                            <button class="button">Remove</button>
                        </div>

                    </div>
                        {#Sec-3#}
                    <div class="object">
                        <div class="object__img">
                            <img src={% static "labWeb/images/planes.jpg" %} alt="Nemam">
                        </div>
                        <div class="object__text">
                            <h3>B-23</h3>
                            <p>Mega cool planes<br>
                                can fly and more any<br>
                                can fall<br>
                                From Ukrainian Factory "Danger pricoli)"<br>
                            </p>
                            <p>2650</p>
                            <input class="inp" type="text" style="display: none" value="2650">
                        </div>
                        <div class="object__button">
                            <button class="button bgr">Edit</button>
                            <button class="button">Remove</button>
                        </div>

                    </div>
{#                    Sec-4#}
                    <div class="object">
                        <div class="object__img">
                            <img src={% static "labWeb/images/planes.jpg" %} alt="Nemam">
                        </div>
                        <div class="object__text">
                            <h3>B-24 </h3>
                            <p>Mega cool planes<br>
                                can fly and more any<br>
                                can fall<br>
                                From Ukrainian Factory "Danger pricoli)"<br>
                            </p>
                            <p>1500</p>
                            <input class="inp" type="text" style="display: none" value="1500">
                        </div>
                        <div class="object__button">
                            <button class="button bgr">Edit</button>
                            <button class="button">Remove</button>
                        </div>

                    </div>
                    {#Sec-5#}
                    <div class="object">
                        <div class="object__img">
                            <img src={% static "labWeb/images/planes.jpg" %} alt="Nemam">
                        </div>
                        <div class="object__text">
                            <h3>B-25</h3>
                            <p>Mega cool planes<br>
                                can fly and more any<br>
                                can fall<br>
                                From Ukrainian Factory "Danger pricoli)"<br>
                            </p>
                            <p>1000</p>
                            <input class="inp" type="text" style="display: none" value="1000">
                        </div>
                        <div class="object__button">
                            <button class="button bgr">Edit</button>
                            <button class="button">Remove</button>
                        </div>

                    </div>
{#Sec-6#}
                    <div class="object">
                        <div class="object__img">
                            <img src={% static "labWeb/images/planes.jpg" %} alt="Nemam">
                        </div>
                        <h3>B-26</h3>
                            <p>Mega cool planes<br>
                                can fly and more any<br>
                                can fall<br>
                                From Ukrainian Factory "Danger pricoli)"<br>
                            </p>
                            <p>3500</p>
                            <input class="inp" type="text" style="display: none" value="3500">
                            <div class="object__button">
                            <button class="button bgr">Edit</button>
                            <button class="button">Remove</button>
                        </div>

                    </div>
                </div>


                <div style="display: none" id="Create__block">
                    <div class="desc">
                        <label for="name_inp">Name</label>
                        <input type="text" name="name_inp" id="name_inp">
                        <label for = "desc">Desc</label>
                        <input type="text" name="desc" id="desc">
                    </div>
                    <div class="value">
                        <label for="val">Value</label>
                        <input type="text" name="val" id="val_inp">
                    </div>
                    <div class="button_con">
                        <button class="button" type="submit" id="Create_inp_in">Create</button>
                        <button class="button" type="submit" id="back_in">Back</button>
                    </div>
                </div>
            </aside>
        </div>
    </header>


<script type="module" src="{% static '/labWeb/js/find_doc.js' %}"></script>
<script type="module" src="{% static '/labWeb/js/js_lab_2.js' %}"></script>
    </body>
</html>