{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="UTF-8">
    <title>Laboratona 1</title>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel="stylesheet" href="{% static '/labWeb/css/lab_1.css' %}">

</head>
<body>
    <nav>
       <article>
            <a class="button" href="">Home</a>
            <a class="button" href="">Find a doctor</a>
            <a class="button" href="">Apps</a>
            <a class="button" href="">Testimonials</a>
            <a class="button" href="">About us</a>
       </article>
        <aside>
            <h3 class="icon">T</h3>
            <h3 class="text">Trafalgar</h3>
        </aside>
    </nav>

    <header>
        <article>
            <h2>Download our <br>
            mobile apps</h2>
            <hr>
            <p>
                Our dedicated patient engagement app and<br>
                web portal allow you to access information<br>
                instantaneously (no tedeous form, long calls,<br>
                or administrative hassle) and securely<br>
            </p>
            <a class="button_header" href="#">
                Download
                <i class="fas fa-chevron-down"></i>
            </a>
        </article>
        <aside>
            <img src="{% static '/labWeb/images/img_1.png' %}">
        </aside>
    </header>


    <span>
        <div class="article">
        <h2>Check out our latest article</h2>
            <hr>

            <!-- Section 1 -->
            <div class="container_article">
                <div class="img_container">
                    <img src="{% static '/labWeb/images/img_2.png' %}">
                </div>
                <div class="text_container">
                    <p class="text_fat">
                        Disease detection, check,<br>
                        up in the laboratory
                    </p>
                    <p class="text">
                        In this case, the role of the health<br>
                        laboratory is very important to do <br>
                        a disease detection...<br>
                    </p>

                    <a class="button" href="#">Read more</a>
                </div>
            </div>

            <!-- Section 2 -->
            <div class="container_article">
                <div class="img_container">
                    <img src="{% static '/labWeb/images/img_3.png' %}">
                </div>
                <div class="text_container">
                    <p class="text_fat">
                        Herbal medicines that are<br>
                        safe for consumption
                    </p>
                    <p class="text">
                        Herbal medicine is very widely used<br>
                        at this time because of its very good<br>
                        for your health...<br>
                    </p>

                     <a class="button" href="#"> Read more </a>
                </div>
            </div>

            <!-- Section 3-->
            <div class="container_article">
                <div class="img_container">
                    <img src="{% static '/labWeb/images/img_4.png' %}">
                </div>
                <div class="text_container">
                    <p class="text_fat">
                        Natural care for healthy <br>
                        facial skin <br>
                    </p>
                    <p class="text">
                        A healthy lifestyle should start from<br>
                        now and also for your skin health.<br>
                        There are some...<br>
                    </p>

                     <a class="button" href="#"> Read more </a>
                </div>
            </div>

        </div>

        <div><a href="#" class="button">View all</a></div>
    </span>

    <span>

        <div class="box">
            <div>
                <h2>Wha our customer</h2>
                <hr>
            </div>

            <article>
                <img src="{% static '/labWeb/images/img_5.png' %}">

                <p class="text_fat">Edward Newgate</p>
                <p class="text">Founder Circle</p>
            </article>
            <aside>
                <p><q>Our dedicated patient engagement app and<br>
                    web portal allow you to access information<br>
                    instantaneously (no tedeous form, long calls,<br>
                    or administrative hassle) and securely</q><br></p>
            </aside>
        </div>
            <a href="#">< ... ></a>
    </span>

    <footer>
        <h3 class="icon">T</h3>
        <h3>Trafalgar</h3>

        <a>Company</a>
        <a>Region</a>
        <a>Help</a>
    </footer>
</body>
</html>